/* GENERAL */
 @font-face {
    font-family: 'WebCharcoal';
    src: url('Charcoal.eot');
    src: url('Charcoal.eot?#iefix') format('embedded-opentype'), url('Charcoal.woff2') format('woff2'), url('Charcoal.woff') format('woff'), url('Charcoal.ttf') format('truetype'), url('Charcoal.svg#Charcoal') format('svg');
}
html, body {
    height: 100%;
    font-family: "Verdana", sans-serif!important;
    font-size: 90%;
    overflow: visible;
}
body.transparent {
    font-family: Charcoal, "WebCharcoal", sans-serif!important;
    background: #cecece!important;
}
body {
    padding-left:30px;
    display: block;
    margin: auto auto;
    font-family: Verdana;
    /*background-image: url("../images/19201080_filter.png");
    background-color: #9c9cce;*/
    background-color: black;
    color: black!important;
    overflow: hidden;

    background-size: cover;
    background-position: center 80%;
}

*:not(.antialias) {
    image-rendering: optimizeSpeed!important;
    image-rendering: -moz-crisp-edges!important;
    image-rendering: -o-crisp-edges!important;
    image-rendering: -webkit-optimize-contrast!important;
    image-rendering: pixelated!important;
    image-rendering: optimize-contrast!important;
     -ms-interpolation-mode: nearest-neighbor!important;
    font-smooth: never!important;
    scrollbar-color: #9999ff #cccccc;
    scrollbar-width: 25px;
}
button {
    background: #ddd!important;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: inset 1px 1px 0 0 #ddd, inset 2px 2px 0 0 white, inset -1px -1px 0 0 #777, inset -2px -2px 0 0 #aaa;
    font-family: Charcoal, "WebCharcoal", sans-serif;
}
button:active {
    filter:invert()!important;
}
button:focus {
    outline: 0px!important;
}

.thead td {background: #ccc; padding: 3px; 
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #888,
    1px 1px 0 0 #333, 0px 0px 0px 1px #666;}
td p {height: 1.5em;line-height: 1.5em;display: inline;}
td img {vertical-align: middle;}
td{background: #eee;}
td.hcolumn {background: #ddd; cursor: pointer;}
table {width: 100%; font-size: 92%;}

.offscreen {
    position: absolute;
    left: -100000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* WINDOWS */
.window {
    background: #cecece!important;
    position: absolute;
    display: block;
    padding: 3px;
    border: 1px solid black;
    min-width: 1px;
    transform: translate(-50%, -50%);
    box-shadow: inset 1px 1px 0 0 white, inset -1px -1px 0 0 #9c9c9c, 1px 1px 0 0 black;
}
.window:not(.noanim) {
    animation: winAppear .2s linear;
}
.window:not(.noanim) *:not(.noanim) {
    animation: winContentsHidden .1s linear;
}
.window.maximized {
    width: calc(100% + -8px)!important;
    height: 100%!important;
    top: 0!important;
    left: 0!important;
    z-index: 2147483647!important;
    transform: translate(0%,0%)!important;
}
.window.shaded {
    height: 18px!important;
    overflow: hidden!important;
}

.window:not(.noanim) {animation: winAppear .2s linear;}
.window:not(.noanim) *:not(.noanim) {animation: winContentsHidden .1s linear;}

.window.maximized {width: calc(100% + -8px)!important;height: 100%!important; top: 0!important; left: 0!important; z-index: 2147483647!important; transform: translate(0%,0%)!important;}
.window.shaded {height: 18px!important; overflow: hidden!important;}

.window .titlebar {
    display: block;
    width: 100%;
    min-height: 18px;
    max-height:144px;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Charcoal, "WebCharcoal", sans-serif;
}
.window .titlebar .title {
    background: #cecece!important;
    height: 13px;
    line-height: 13px;
    position: absolute;
    left: 50%;
    top: -2px;
    transform: translate(-50%, 0);
    vertical-align: center;
    padding: 1px 4px 2px 4px;
}
.window .content { /* default padding */
    vertical-align: top;
    display: block;
    /*padding: 16px 16px 16px 30px;
    width: calc(100% + -61px);
    height: calc(100% + -64px);*/
    width: 100%;
    height: calc(100% - 18px);
    padding: 0;
    overflow: scroll;
    display: block;
    min-height:1px!important;
    min-width: 1px!important;
    position: relative;
}
.window .content.textfile { /* default uniform padding */
    width: calc(100% + -21px);
    height: calc(100% + -61px);
    padding: 10px;
}
.window .content.dirlist { /* no padding */
    width: 100%;
    height: calc(100% + -18px);
    padding: 0;
}
.window .content.nooverflow {
    overflow: hidden!important;
}
.window:not(.transparent) .content {
    background: white!important;
    box-shadow: inset 1px 1px 0 0 #9c9c9c, inset -1px -1px 0 0 white, inset 1px 1px 0 1px black, inset -1px -1px 0 1px black;
}
.window .directions:after {
    content:"it's on the right";
}
.window .tl_button {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("../images/macos_title_buttons.png");
}
.window .tl_button.close {
    float: left;
    margin: 1px 0;
    background-position-y: 0px;
}
.window .tl_button.maxmin {
    float: right;
    background-position-y: -13px;
    margin: 1px 3px;
}
.window .tl_button.shade {
    float: right;
    margin: 1px 0;
    background-position-y: -26px;
}
.window .tl_button:active {
    background-position-x: 13px;
}
.window .tl_lines {
    position: absolute;
    top: 2px;
    left: 17px;
    display: block;
    width: calc(100% - 53px);
    height: 13px;
    background: url("../images/macos_title.svg") repeat;
    padding-right: 2px;
}
.window .tl_lines:before, .window .tl_lines:after, .window .titlebar .title:before, .window .titlebar .title:after {
    content: "";
    position: relative;
    width: 1px;
    height: 12px;
    display: block;
    background: url("../images/macos_title_lines.png")
}
.window .tl_lines:before, .window .titlebar .title:after {
    background-position: 0 0;
}
.window .tl_lines:after, .window .titlebar .title:before {
    background-position: -11px 0;
}
.window .titlebar .title:before, .window .titlebar .title:after {
    margin-top: 2px;
}
.window .tl_lines:before {
    left: 0;
}
.window .titlebar .title:before {
    display: inline-block;
    top: 1px;
    left: -4px;
}
.window .tl_lines:after {
    top: -12px;
    right: -2px;
    float: right;
}
.window .titlebar .title:after {
    display: inline-block;
    top: 1px;
    right: -4px;
}
/* SCROLLBAR */
 *::-webkit-scrollbar {
    width: 0.15in;
    height: 0.15in;
}
 *::-webkit-scrollbar-thumb {
    background-color: #9999ff;
    box-shadow: 1px 1px black inset, -1px -1px black inset, 2px 2px #ccccff inset, -2px -2px #6666cc inset;
}
 ::-webkit-scrollbar-track-piece {
    background: #aaaaaa;
}
 ::-webkit-scrollbar-track-piece:disabled {
    background: #eeeeee;
}
 ::-webkit-scrollbar-track-piece:horizontal:not(:disabled) {
    box-shadow: 1px 1px black inset, 0px -1px black inset, 2px 2px rgba(85,85,85,0.5) inset, -1px -2px #cccccc inset;
}
 ::-webkit-scrollbar-track-piece:horizontal:disabled {
    box-shadow: 1px 1px black inset, 0px -1px black inset 
}
 ::-webkit-scrollbar-track-piece:vertical:not(:disabled) {
    box-shadow: 1px 1px black inset, -1px 0px black inset, 2px 2px rgba(85,85,85,0.5) inset, -2px -1px #cccccc inset;
}
 ::-webkit-scrollbar-track-piece:vertical:disabled {
    box-shadow: 1px 1px black inset, -1px 0px black inset;
}
 ::-webkit-scrollbar-button {
    display: block;
    border: 0px solid black;
    background-color: #dddddd;
    width: 14px;
    height: 14px;
    border: 1px solid black;
}
 ::-webkit-scrollbar-button:not(:disabled) {
    box-shadow: 1px 1px rgba(255,255,255,0.5) inset, -1px -1px #bbbbbb inset;
}
 ::-webkit-scrollbar-button:start {
    display: none!important;
}
 ::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url("../images/left-arrow.svg");
    border-right-width: 0;
}
 ::-webkit-scrollbar-button:horizontal:increment {
    background-image: url("../images/right-arrow.svg");
}
 ::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("../images/up-arrow.svg");
    border-bottom-width: 0;
}
 ::-webkit-scrollbar-button:vertical:increment {
    background-image: url("../images/down-arrow.svg");
}
 ::-webkit-scrollbar-button:horizontal:decrement:disabled, ::-webkit-scrollbar-button:horizontal:increment:disabled {
    border-left: 1px #888 solid;
}
 ::-webkit-scrollbar-button:vertical:decrement:disabled, ::-webkit-scrollbar-button:vertical:increment:disabled {
    border-top: 1px #888 solid;
}
 ::-webkit-scrollbar-button:horizontal:decrement:disabled {
    background-image: url("../images/left-arrow-disabled.svg");
}
 ::-webkit-scrollbar-button:horizontal:increment:disabled {
    background-image: url("../images/right-arrow-disabled.svg");
}
 ::-webkit-scrollbar-button:vertical:decrement:disabled {
    background-image: url("../images/up-arrow-disabled.svg");
}
 ::-webkit-scrollbar-button:vertical:increment:disabled {
    background-image: url("../images/down-arrow-disabled.svg");
}
 ::-webkit-scrollbar-corner {
    background-color: #cecece;
    background-image: url("../images/window-drag.png");
}
 @keyframes winAppear {
     0% {
        top: var(--mpy);
         left: var(--mpx);
         width: 0px;
         height:0px;
        border: 3px dotted grey;
         background: none!important;
         box-shadow: none;
    }
     100% {
        top:var(--iy);
         left: var(--ix);
         width: var(--iw);
         height: var(--ih);
         border: 3px dotted grey;
         background: none!important;
         box-shadow: none;
    }
}

/* DESKTOP/FOLDER ITEMS */
.desktop-item {
    cursor:pointer!important;
    display: inline-block;
    min-width: 0;
    margin: 17px 15px;
    text-align: center;
    clear:both;
    transform: translateX(-50%);
}
.desktop-item .text {
    vertical-align: bottom;
    display: block;
    max-height:13px;
    background:url('images/fontsheet.png');
    color:transparent;
    font-size: 10px;
    font-family: Verdana;
}
.desktop-item .text.twocolumn {
    max-height: 26px!important;
}
.destkop-item img {
    margin: 0 auto;
    max-width: 12px;
    pointer-events: none;
}
.desktop-item img:nth-of-type(1) {
    display: block;
    margin: 0 auto;
}
.desktop-item:active img:nth-of-type(1), td:active img {
    filter:brightness(50%);
}
.desktop-item:active img:nth-of-type(2) {
    filter: invert()
}
.desktop-item:active text {
    filter:invert()!important;
}
.desktop-item .text.main {
    background-position: -13px 0px;
}
.desktop-item .text.downloads {
    background-position: -2px -13px;
}
.desktop-item .text.links {
    background-position: 0px -26px;
}
.desktop-item .text.blog {
    background-position: -13px -39px;
}
.desktop-item .text.twitter {
    background-position: -13px -52px;
}
.desktop-item .text.discord {
    background-position: -12px -65px;
}
.desktop-item .text.youtube {
    background-position: -10px -78px;
}
.desktop-item .text.pokeh {
    background-position: 1px -91px;
}
.desktop-item .text.pokes {
    background-position: 2px -118px;
}
.desktop-item .text.pg64 {
    background-position: 3px -143px;
}
.desktop-item .text.g64 {
    background-position: 1px -169px;
}
.desktop-item .text.art {
    background-position: -14px -195px;
}
.desktop-item .text.letterboxd {
    background-position: -2px -208px;
}
.desktop-item .text.mastodon {
    background-position: -6px -218px;
}
.desktop-item .text.ftype {
    background-position: -13px -231px;
}
/* UPPER BAR */
.right-click-bar {
    font-family: Charcoal, "WebCharcoal", sans-serif;
    text-align: right;
    display: block;
    width:100%;
    height:20px;
    top:0;
    left:0;
    position:absolute;
    background: #ddd;
    box-shadow: inset -1px -1px 0 0 black, inset -1px -1px 0 1px #9c9c9c, inset -1px 1px 0 0 white;
}
.right-click-bar:before {
    content:"";
    display:block;
    width:16px;
    height:17px;
    background:url('images/ioi_icon.png');
    left:17px;
    top:2px;
    position:absolute;
}
.right-click-bar .date {
    position: absolute;
    height: 20px;
    line-height: 20px;
    top: 0px;
    right: 3%;
}
/* NOTE */
.note {
    border-style: solid;
    border-width: 16px;
    border-image: url('images/sticky_border.png') 16 repeat repeat;
    background: #ff9!important;
    display: block;
    color: black!important;
    font-size: 1.5vh!important;
}
/* WORDPERFECT WINDOWS */
.wp-bar-fake {
    display: block;
    width: 268px;
    height: 16px;
    background: url('../images/wp_bar_fake.svg');
    margin: 5px auto 2px auto;
}
.content.textfile {
    cursor: text!important;
}
/* SMALLER WINDOWS AND MOBILE */
.mobile_only{
    display: none;
}
 @media (max-width:1024px) {
    body.main {
        background-image:url("../images/1024768_filter.png");
    }
}
 @media (min-width: 640px) and (max-width:800px) {
    body.main {
        background: #9c9cce;
    }
    .window {
        display: block;
         position: static;
         min-width: 640px;
         margin: 10px auto;
    }
    .amigatext {
        display: none!important;
    }
}
 @media screen and (orientation:portrait) {
    body.main {
        background: #9c9cce;
         font-family: sans-serif;
    }
    .desktop-item {
        display: inline-block;
         min-width: 0;
         margin: 17px 15px!important;
         width: 64px;
         max-width: 59px;
         max-height: 48px;
         text-align: center;
         clear:both;
         transform: translateX(-50%);
    }
    .desktop-item+br, .desktop-item.nomobile {
        display: none!important;
    }
    .window {
        display: block;
         position: static;
         min-width: 1px;
         max-width: none!important;
         width: 98%!important;
         margin: 10px auto 10px 4%;
         transform: translate(-7vw,0px);
    }
    .window .content, .window .titlebar .title {
        font-size: 3vw;
    }
    .window .titlebar .title:before, .window .titlebar .title:after{
        display: none;
    }
    .window .content {
        padding: 2vw;
         width: 95.5%;
         box-shadow: inset 1px 1px 0 1px #9c9c9c, inset -1px -1px 0 1px white, inset 1px 1px 0 3px black, inset -1px -1px 0 3px black;
    }
    .window .titlebar .title {
        height: 2vw;
         line-height: 2vw;
         display: flex;
         vertical-align: text-top;
        padding: 1.5vw .5vw;
    }
    .amigatext, #ball {
        display: none!important;
    }
    .mobiletext2 {
        display: block!important;
    }
    .window .directions:after {
        content:"then scroll down.";
    }
    s .broken {
        display: none!important;
    }
    .mobile_only {
        display: block!important;
    }
    .note {
        font-size: 3vw!important;
         display: inline-block!important;
         vertical-align: text-top;
    }
    #ftype .iframe {
        width: 99%!important;
         height: 216px!important;
    }
}
/* hide/show things on some phones */
.visible-android, .visible-ios {
    display:none;
}
.device-ios .visible-android, .device-ios .hidden-ios, .device-android .hidden-android, .device-android .visible-ios {
    display:none !important;
}
.on-device .visible-android, .on-device .visible-android {
    display:inherit;
}
/* element for a hack of sorts where we get the screen dpi */
#dpi {
    height: 1in;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 1in;
}

#visuallog {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
    z-index: 65000;
}
#visuallog span {
    padding: 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    background: transparent;
}