#visuallog {
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    color: white;
    z-index: 65000;
}
#visuallog span {
    padding: 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
    background: transparent;
}