<span class='folderinfo'>{{len .Directory}} items, {{Diskfree}} avaliable</span>
<span class='scroll'>
	<span class='thead'>
		<span class='tr'>
			<span class='td'>Name</span><span class='td'>Date Modified</span><span class='td right'>Size</span><span class='td'>Kind</span>
		</span>
	</span>
	<span class='tbody'>
		{{ $fname := (printf .FolderName) }}
		{{ $fnamestripped := (printf .StrippedFoldername) }}
		{{range .Directory}}
		{{ $fullfilename := (print $fname .Name) }}
		{{ $fullfilenamestripped := (print $fnamestripped .Name)}}
		<span class='tr'>
			<span class='td' class='hcolumn' onclick='
				{{$isdir := (IsDirectory $fullfilename)}}
				{{if eq $isdir true}}
					parent.windowPopulateThroughFilename(this.closest(".window"),{{(print $fname .Name)}})
				{{else}}
					parent.windowCreate({{(print $fullfilenamestripped)}})
				{{end}}
			'>
				{{- .Name}}
			</span>
			<span class='td'>{{- PrettyTime .ModTime}}</span>
			<span class='td' align='right'>{{- PrettySize .Size}}</span>
			<span class='td'>
				{{FileType (print $fullfilename) }}
			</span>
		</span>
		{{end}}
	</span>
<!--	<?php
		ini_set('display_errors', 1);
		ini_set('display_startup_errors', 1);
		error_reporting(E_ALL);
		$GLOBALS['lastfolder'] = '';
		function DirectoryList($dir, $subdir) {
			$scan = scandir($dir);
			foreach($scan as $value) {
				if($value == "." || ($value == ".." && realpath($dir."/..") == "/var/www/html/pages")) {continue;}
				$path = $dir."/".$value;
				$filetype = filetype($path);
				$mime = explode("/", mime_content_type($path))[0];
				$date = gmdate('r', filemtime($path));
				$filesize = filesize($path);
				switch(strlen($filesize)) {
					case 10:
					case 9:
						$filesize_h = substr(($filesize / 1000000000), 0, 4)." GB";
						break;
					case 8:
					case 7:
						$filesize_h = substr(($filesize / 1000000), 0, 4)." MB";
						break;
					case 6:
					case 5:
					case 4:
						$filesize_h = substr(($filesize / 1000), 0, 4)." K";
						break;
					default:
						$filesize_h = $filesize." B";
						break;
				}
				if($subdir == 1) {echo "<tr class='hidden ".$GLOBALS['lastfolder']."'>";} else {echo "<tr class='a'>";}
				switch($filetype) {
					case "dir":
						$GLOBALS['lastfolder'] = $value;
						echo "
						<td class='hcolumn' onclick=\"parent.iframeSet('$dir', '/pages/dirlist.php?dir=$path')\"><img src='../files/icons/folder-documents-16x16.png'><p>$value</p></td> 
						<td>$date</td>
						<td align='right'>-</td>
						<td>$filetype</td>
						</tr>";
						break;
					case "file":
						switch($mime) {
							case "image":
								echo "<td class='hcolumn' onclick=\"parent.windowCreate('generic_image', 'valload ".str_replace("/", "%2F", $path)."')\"><img src='../files/icons/photoshop.png'><p>$value</p></td>";
								break;
							default:
							case "text":
								echo "<td class='hcolumn' onclick=\"parent.windowCreate('generic_text', 'valload ".str_replace("/", "%2F", $path)."')\"><img width='16' height='16' src='../files/icons/accessories-text-editor.png'><p>$value</p></td>";
								break;
						}
						echo "
						<td>$date</td>
						<td align='right'>$filesize_h</td>
						<td>$filetype</td>
						</tr>";
						break;
				}
			}
		}
		DirectoryList($_GET['dir'], 0);
		?>--->
		<!---
			</tbody>
		</table>
		<script>
			function vistoggle(classname) {
				elements = document.querySelectorAll("."+classname+".unhidden");
				elements_hidden = document.querySelectorAll("."+classname+".hidden");
				for (i=0; i < elements.length; i++) {
					elements[i].classList.add("hidden");
					elements[i].classList.remove("unhidden");
				}
				for (i=0; i < elements_hidden.length; i++) {
					elements_hidden[i].classList.remove("hidden");
					elements[i].classList.add("unhidden");
				}
			}
		</script>
		--->
	</body>
</html>
</span>